@* Se de rare greiene. p-1? bg-danger? Blazor kommer med Bootstrap innebygget. 
Men man kan også lage en CSS-fil som er scopet til denne komponenten, ved opprette filen i samme mappe og gi den eksakt samme navn med .css-ending: ButtonComponent.razor.css, 
eller valgfritt navn og drag-and-drop den oppå ButtonComponent.Razor *@

<div class="p-1">
    <button @onclick="Clicked" class="btn btn-primary">Knapp</button>
    @if (!string.IsNullOrWhiteSpace(GlobalTekstSomKanSettesFraHeleFilen))
    {
        <p class="mt-2 bg-danger p-2">@GlobalTekstSomKanSettesFraHeleFilen</p>
    }
</div>

@* For små komponenter kan man skrive koden i samme fil, ved å legge på en @code {} *@

@code {

    // Dette er en variabel som hvilken som helst funksjon i denne filen har tilgang på.
    // Kun håp og drømmer håndhever at denne ikke er tuklet med, men i en så liten komponent, er risikoen ganske liten
    private string GlobalTekstSomKanSettesFraHeleFilen { get; set; } = string.Empty;

    // Se her! God gammel C#, i stedet for JavaScript
    private void Clicked()
    {
        GlobalTekstSomKanSettesFraHeleFilen = string.IsNullOrWhiteSpace(GlobalTekstSomKanSettesFraHeleFilen) ? "Steike! Dette var ikke pent, men jeg er en grei komponent å se på for å forstå hvordan koden henger sammen" : string.Empty;
    }

}