<div class="d-flex flex-column gap-4">
    @* Her bruker vi en Blazor-komponent som er spesialisert for tekst-input. 
    MERK: Vi bruker kodeordet "bind", etterfulgt av en property (@bind-{property}) for å sette opp databinding
    mot en variabel. Så i denne C#-komponenten er Value skrevet med stor V. *@
    <div class="d-flex flex-column gap-2">
        <label for="input1">Tekst-komponent fra Blazor</label>
        <InputText id="input1" @bind-Value="InputTekst1"></InputText>
        @if (!string.IsNullOrWhiteSpace(InputTekst1))
        {
            <p class="input_med_unikt_navn">@InputTekst1</p>
        }

    </div>
    <div class="d-flex flex-column gap-2">
        @* Mens et vanlig HTML-element gjerne har "value" med liten V. *@
        <label for="input2">Native input-komponent fra HTML, med Bootstrap-styling</label>
        <input id="input2" class="form-control" type="text" @bind-value="InputTekst2"/>
        @if (!string.IsNullOrWhiteSpace(InputTekst2))
        {
            <p class="input_med_unikt_navn">@InputTekst2</p>
        }
    </div>
</div>

@* Legg merke til hvordan denne komponenten ikke har C# kode i samme fil. Koden ligger nemlig i DropdownComponent.cs, 
en code-behind-fil, for å unngå at det blir uoversiktlig i større komponenter *@