@using GregorsGodsaksKontrakter
<div>
    @* Med en liten alfakrøll foran, kan man skrive C# rett i HTML'en *@
    @if (WineData != null)
    {
        <ul class="list-group">
            @* Småfrekk foreach med filtrering, som plukker ut de tre billigste vinene *@
            @foreach (var wine in WineData.OrderBy(w => w.Price).Take(3))
            {
                <li
                    @onclick="() => HandleClickedSnack(wine)"
                    class="list_item list-group-item">
                    @wine.Name
                </li>
            }
        </ul>
    }
</div>

@code {

    // Ved å tagge disse med attributten [Parameter], indikerer vi at de skal sendes inn til komponenten fra de som bruker komponenten.
    [Parameter] public required List<Wine>? WineData { get; set; }

    // Et EventCallback tar inn en funksjon som vi kan Invoke'e, og sende data tilbake til parent.
    // Krokodilleparentesen sier hvilken type data som skal returneres. I dette tilfellet et helt objekt av typen Wine
    [Parameter] public required EventCallback<Wine> ReturnClickedSnack { get; set; }

    private async Task HandleClickedSnack(Wine wine)
    {
        // Vi bare sender data tilbake, men vi kunne jo også validert ting her, eller oppdatert en lagerstatus.
        await ReturnClickedSnack.InvokeAsync(wine);
    }

}