@page "/"

<PageTitle>Gregors Godsaker</PageTitle>

<h1>Gregors Godsaker</h1>
<p>Bruk denne siden for å løse oppgaven. Se gjerne på 
    <a href="/Komponenter" >komponenter</a> for tips og triks til å skrive koden
</p>


@code {
    

}