@page "/"
@using GregorsGodsaker.Services

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>Contact with Api: @ContactWithApi</p>

@code {
    [Inject] public required ISnackservice Snackservice { get; set; }
    
    private string? ContactWithApi { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        ContactWithApi = await Snackservice.GetSnacks();
    }

}